<div class="navbar navbar-inverse navbar-left navbar-form">
    <div class="container-fluid">
        @if (Request.IsAuthenticated && Session["Name"] == null)
        {
            <br />
            @Html.ActionLink("Home", "Index", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Fill Personal Details", "EditDetails", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Change Password", "ChangePassword", "Patient", new { area = "" })
            <br /> <br />
        }
        else if (Session["Name"] != null)
        {
            <br />
            @Html.ActionLink("Home", "Index", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Edit Personal Details", "EditDetails", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Change Password", "ChangePassword", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Request Doctor Appointments", "MakeAppointments", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("View Appointments", "ViewAppointments", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Send Message", "SendMessages", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("View Inbox", "ViewMessages", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("Order Drugs", "OrderDrugs", "Patient", new { area = "" })
            <br /> <br />
            @Html.ActionLink("View Orders", "ViewOrders", "Patient", new { area = "" })
            <br /> <br />
        }
    </div>
</div>


